<div class="updates">
    <h3>Be the first to know.</h3>
    <form action="/" class="email">
        <input id="placetext" type="email" placeholder="Enter your email address to receive updates" />
        <button type="submit">KEEP IN TOUCH</button>
    </form>
</div>