:root {
    --background-color: #E9E9E9;
    --font-color: #424242;
    --header-font-weight: 800;
    --p-font-weight: 250;
    --p-font-size: 1.68rem;
    --form-font-size: 1.2rem;
}

body {
    font-family: "Inter", Arial, sans-serif;
    color: var(--font-color);
    background: var(--background-color);
    padding: 0;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}

.small-title h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
}

#polaroid {
    height: 650px;
    width: 900px;
    margin-top: -150px;
}

h1 {
    font-size: 8em;
    font-weight: var(--header-font-weight);
    text-align: center;
    line-height: 8rem;
}

h3 {
    font-weight: var(--header-font-weight);
    font-size: 2.5rem;
    text-align: center;
}

.description p {
    line-height: 35px;
    align-items: center;
    margin: 0 auto;
}

p {
    width: 800px;
    height: 200px;
    font-weight: var(--p-font-weight);
    font-size: 1.68rem;
}

ul {
    font-weight: var(--p-font-weight);
    align-items: center;
    margin: 0 auto;
    list-style: none;
    font-size: var(--p-font-size);
}

ul li {
    margin-bottom: 20px;
}

.small-logo {
    width: 40px;
    height: 30px;
    margin-right: 20px;
}

.email {
    display: flex;
    justify-content: center;
    margin: 10px 0 125px 20px;
    gap: 10px;
    padding: 40px;
    background: linear-gradient(#E2E2E2, #D6D7D6);
    border-radius: 40px;
    max-width: 750px;
}

.email input {
    font-size: var(--form-font-size);
    width: 475px;
    padding: 35px;
    border: 1px solid #ECECEC;
}

.email button {
    padding: 10px 20px;
    font-size: var(--form-font-size);
    background-color: #FF3F3C;
    border: none;
    color: #fff;
    font-weight: var(--header-font-weight);
}

.email button:hover {
    cursor: pointer;
}